body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin:0;
}

td {
    text-wrap: nowrap;
    padding: 0;
    height: 100%;;
    border: none;
}

tr {
    margin: 0;
    padding: 0;
}

input {
    box-sizing: border-box;
    display: block;
    height: 18px;
    font-size: 12px;;
    border: 1px solid #aaa;
    margin: 0;
    padding: 0px;
}

.date {
    width: 60px;
    text-align: center;
}

.status {
    width: 80px;
    text-align: center;
}

#add-job {
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    background-color: #4CAF;
}