body {
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 1rem;
    max-width: 100%;
    background-color: #F1F5F9;
    overflow-x: hidden;
}

#job-list {
    width: 100%;
    border-collapse: collapse;
}

thead {
    width: 100%;
    background-color: aquamarine;
    background-size: contain;
    border: solid 1px #c8c8c8;
}

thead tr {
    height: 30px;
    text-justify: left;
    padding: 5px;
}

.job-list th {
    position: sticky;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgreen;
    top: 0;
    margin: 0;
    padding: 0;
}

input,
select {
    border-radius: 0;
    border: none;
    background: none;
}

.footer {
    display: inline-flex;
    height: 32px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#logo {
    box-sizing: border-box;
    height: 32px;
    padding: 2px;
}

#add-job {
    border-radius: 5px;
    background-color: aquamarine;
    border: 1px solid #c8c8c8;
}

.date {
    width: 60px;
}

tbody tr:hover {
    background-color: #c8c8c8;
}